<?xml version="1.0"?>
<config>
    <modules>
        <Compucom_Notification>
            <version>0.1.0</version>
        </Compucom_Notification>
    </modules>  
    <global>
        <models>
            <notification>
                <class>Compucom_Notification_Model</class>
            </notification>
           	<customer>
              	<rewrite>
              		 <customer>Compucom_Notification_Model_Customer</customer>
              	</rewrite>
              </customer>
        </models>

        <helpers>
            <notification>
                <class>Compucom_Notification_Helper</class>
            </notification>
          </helpers>

        <template>
            <email>             						
				<sales_email_template_compucom_new_order_confirmation>
					<label>Sales Order Confirmation Template </label>
                    <file>sales/order_new.html</file>
                    <type>html</type>
				</sales_email_template_compucom_new_order_confirmation>	
				 <sales_email_template_compucom_invoice>
                    <label>Sales Invoice Template</label>
                    <file>sales/invoice_new.html</file>
                    <type>html</type>
                </sales_email_template_compucom_invoice>
                  <sales_email_template_compucom_shipment>
                    <label>Sales Shipment Template</label>
                    <file>sales/invoice_new.html</file>
                    <type>html</type>
                </sales_email_template_compucom_shipment>
                <checkout_compucom_payment_failed>
                    <label>Compucom Payment Failed</label>
                    <file>payment_failed.html</file>
                    <type>html</type>
                </checkout_compucom_payment_failed>                
              
              <sales_email_template_compucom_completed>
				<label>Compucom Sales Order Completed</label>
				<file>sales/completed_new.html</file>
				<type>html</type>
				</sales_email_template_compucom_completed>
				
				 <sales_email_template_compucom_payment_failure>
				<label>Compucom Sales Order Payment Failure</label>
				<file>sales/compucom_payment_failure.html</file>
				<type>html</type>
				</sales_email_template_compucom_payment_failure>
              
                <design_email_footer translate="label" module="core">
                    <label>Compucom Email - Footer</label>
                    <file>html/compucomfooter.html</file>
                    <type>text</type>
                </design_email_footer>		
                
			</email>
        </template>               
    </global>   
</config>
